<a href="https://colab.research.google.com/github/Ariyo05/Machine-Learning/blob/main/Beverages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=20e4fa38ebcf11683c0d2513bd5e032c8466c1f2d0db048c876b5ae7cbd519a9
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('GroceryStoreDataSet.csv', header = None)
df.head()

                               0
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [14]:
df.columns = ['Beverages']

In [15]:
df.head()

                       Beverages
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [16]:
df_new = df['Beverages'].str.split(',', expand = True)

In [17]:
df_new

         0       1           2           3
0     MILK   BREAD     BISCUIT        None
1    BREAD    MILK     BISCUIT  CORNFLAKES
2    BREAD     TEA   BOURNVITA        None
3      JAM   MAGGI       BREAD        MILK
4    MAGGI     TEA     BISCUIT        None
5    BREAD     TEA   BOURNVITA        None
6    MAGGI     TEA  CORNFLAKES        None
7    MAGGI   BREAD         TEA     BISCUIT
8      JAM   MAGGI       BREAD         TEA
9    BREAD    MILK        None        None
10  COFFEE    COCK     BISCUIT  CORNFLAKES
11  COFFEE    COCK     BISCUIT  CORNFLAKES
12  COFFEE   SUGER   BOURNVITA        None
13   BREAD  COFFEE        COCK        None
14   BREAD   SUGER     BISCUIT        None
15  COFFEE   SUGER  CORNFLAKES        None
16   BREAD   SUGER   BOURNVITA        None
17   BREAD  COFFEE       SUGER        None
18   BREAD  COFFEE       SUGER        None
19     TEA    MILK      COFFEE  CORNFLAKES

In [18]:
transaction = []
for i in range(0, 20):
  transaction.append([str(df_new.values[i, j]) for j in range(0, 3)])

In [25]:
from apyori import apriori
rules = apriori(transactions = transaction, min_support = 0.019, min_confidence = 0.2, min_lift = 3, min_lenght =2, max_length =3)

In [26]:
results = list(rules)
results

[RelationRecord(items=frozenset({'MAGGI', 'JAM'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'JAM'}), items_add=frozenset({'MAGGI'}), confidence=1.0, lift=4.0), OrderedStatistic(items_base=frozenset({'MAGGI'}), items_add=frozenset({'JAM'}), confidence=0.4, lift=4.0)]),
 RelationRecord(items=frozenset({'None', 'MILK'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset({'MILK'}), items_add=frozenset({'None'}), confidence=0.25, lift=5.0), OrderedStatistic(items_base=frozenset({'None'}), items_add=frozenset({'MILK'}), confidence=1.0, lift=5.0)]),
 RelationRecord(items=frozenset({'BREAD', 'BISCUIT', 'MILK'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'MILK'}), items_add=frozenset({'BREAD', 'BISCUIT'}), confidence=0.5, lift=3.3333333333333335), OrderedStatistic(items_base=frozenset({'BREAD', 'BISCUIT'}), items_add=frozenset({'MILK'}), confidence=0.6666666666666667, lift=3.3333333333333335)]),
 RelationRecord(items=frozenset({'COFFEE', 'BISCUIT', 'COCK'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'COCK'}), items_add=frozenset({'BISCUIT', 'COFFEE'}), confidence=0.6666666666666667, lift=6.666666666666667), OrderedStatistic(items_base=frozenset({'COFFEE', 'BISCUIT'}), items_add=frozenset({'COCK'}), confidence=1.0, lift=6.666666666666667)]),
 RelationRecord(items=frozenset({'MAGGI', 'BISCUIT', 'TEA'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset({'MAGGI'}), items_add=frozenset({'BISCUIT', 'TEA'}), confidence=0.2, lift=4.0), OrderedStatistic(items_base=frozenset({'MAGGI', 'BISCUIT'}), items_add=frozenset({'TEA'}), confidence=1.0, lift=3.3333333333333335), OrderedStatistic(items_base=frozenset({'BISCUIT', 'TEA'}), items_add=frozenset({'MAGGI'}), confidence=1.0, lift=4.0)]),
 RelationRecord(items=frozenset({'BOURNVITA', 'BREAD', 'TEA'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'BOURNVITA'}), items_add=frozenset({'BREAD', 'TEA'}), confidence=0.5, lift=3.3333333333333335), OrderedStatistic(items_base=frozenset({'BREAD', 'TEA'}), items_add=frozenset({'BOURNVITA'}), confidence=0.6666666666666667, lift=3.3333333333333335)]),
 RelationRecord(items=frozenset({'BOURNVITA', 'SUGER', 'COFFEE'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset({'BOURNVITA', 'COFFEE'}), items_add=frozenset({'SUGER'}), confidence=1.0, lift=3.3333333333333335)]),
 RelationRecord(items=frozenset({'BREAD', 'MAGGI', 'JAM'}), support=0.1, ordered_statistics=[OrderedStatistic(items_base=frozenset({'JAM'}), items_add=frozenset({'BREAD', 'MAGGI'}), confidence=1.0, lift=6.666666666666667), OrderedStatistic(items_base=frozenset({'MAGGI'}), items_add=frozenset({'BREAD', 'JAM'}), confidence=0.4, lift=4.0), OrderedStatistic(items_base=frozenset({'BREAD', 'JAM'}), items_add=frozenset({'MAGGI'}), confidence=1.0, lift=4.0), OrderedStatistic(items_base=frozenset({'BREAD', 'MAGGI'}), items_add=frozenset({'JAM'}), confidence=0.6666666666666667, lift=6.666666666666667)]),
 RelationRecord(items=frozenset({'BREAD', 'None', 'MILK'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset({'MILK'}), items_add=frozenset({'BREAD', 'None'}), confidence=0.25, lift=5.0), OrderedStatistic(items_base=frozenset({'None'}), items_add=frozenset({'BREAD', 'MILK'}), confidence=1.0, lift=6.666666666666667), OrderedStatistic(items_base=frozenset({'BREAD', 'MILK'}), items_add=frozenset({'None'}), confidence=0.33333333333333337, lift=6.666666666666667), OrderedStatistic(items_base=frozenset({'BREAD', 'None'}), items_add=frozenset({'MILK'}), confidence=1.0, lift=5.0)]),
 RelationRecord(items=frozenset({'CORNFLAKES', 'SUGER', 'COFFEE'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset({'CORNFLAKES', 'COFFEE'}), items_add=frozenset({'SUGER'}), confidence=1.0, lift=3.3333333333333335)]),
 RelationRecord(items=frozenset({'TEA', 'COFFEE', 'MILK'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset({'MILK'}), items_add=frozenset({'COFFEE', 'TEA'}), confidence=0.25, lift=5.0), OrderedStatistic(items_base=frozenset({'COFFEE', 'MILK'}), items_add=frozenset({'TEA'}), confidence=1.0, lift=3.3333333333333335), OrderedStatistic(items_base=frozenset({'COFFEE', 'TEA'}), items_add=frozenset({'MILK'}), confidence=1.0, lift=5.0)]),
 RelationRecord(items=frozenset({'CORNFLAKES', 'MAGGI', 'TEA'}), support=0.05, ordered_statistics=[OrderedStatistic(items_base=frozenset({'CORNFLAKES'}), items_add=frozenset({'MAGGI', 'TEA'}), confidence=0.5, lift=3.3333333333333335), OrderedStatistic(items_base=frozenset({'MAGGI'}), items_add=frozenset({'CORNFLAKES', 'TEA'}), confidence=0.2, lift=4.0), OrderedStatistic(items_base=frozenset({'CORNFLAKES', 'MAGGI'}), items_add=frozenset({'TEA'}), confidence=1.0, lift=3.3333333333333335), OrderedStatistic(items_base=frozenset({'CORNFLAKES', 'TEA'}), items_add=frozenset({'MAGGI'}), confidence=1.0, lift=4.0), OrderedStatistic(items_base=frozenset({'MAGGI', 'TEA'}), items_add=frozenset({'CORNFLAKES'}), confidence=0.33333333333333337, lift=3.3333333333333335)])]

In [22]:
def inspect(results):
    lhs     =  [tuple(result [2] [0] [0]) [0] for result in results]
    rhs     =  [tuple(result [2] [0] [1]) [0] for result in results]
    supports = [result [1] for result in results]
    confidences = [result [2] [0] [2]   for result in results]
    lifts = [result [2] [0] [3]   for result in results]
    return list(zip(lhs,rhs,supports,confidences, lifts))
resultsinDataFrame = pd.DataFrame(inspect(results),columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'] )
resultsinDataFrame

   Left Hand Side Right Hand Side  Support  Confidence      Lift
0             JAM           MAGGI     0.10    1.000000  4.000000
1            MILK            None     0.05    0.250000  5.000000
2            MILK           BREAD     0.10    0.500000  3.333333
3            COCK         BISCUIT     0.10    0.666667  6.666667
4           MAGGI         BISCUIT     0.05    0.200000  4.000000
5       BOURNVITA           BREAD     0.10    0.500000  3.333333
6       BOURNVITA           SUGER     0.05    1.000000  3.333333
7             JAM           BREAD     0.10    1.000000  6.666667
8            MILK           BREAD     0.05    0.250000  5.000000
9      CORNFLAKES           SUGER     0.05    1.000000  3.333333
10           MILK          COFFEE     0.05    0.250000  5.000000
11     CORNFLAKES           MAGGI     0.05    0.500000  3.333333

Using Apriori rule to get item that customers are likely to purshase in a store.